<nav class="h-20 items-center justify-center flex">
    <div class="w-[75%]">
        <a href="/" class="text-xl text-white">Home</a>
    </div>
    <a href="login" class="text-xl text-white mr-4">Login</a> <span class="text-white">|</span>
    <a href="registro" class="text-xl text-white ml-4">Registro</a>
</nav>