<%- include('partials/cabecera')%>
<section>
<%- include('partials/nav')%>
  <div>
    <div class="w-full items-center justify-center flex gap-x-5 mb-10">
      <img src="/images/pajaro.jpg" alt="" class="w-[20rem] h-[13rem] rounded-lg">
      <img src="/images/panda.jpg" alt="" class="w-[20rem] h-[13rem] rounded-lg">
    </div>
    <p class="text-4xl text-center text-white">Welcome to the page</p>
    <div class="w-full text-center mt-10">
      <a href="login" class="rounded outline-none text-white bg-green-900 px-4 py-2 text-center">EMPECEMOS</a>
    </div>
  </div>
  <%- include('partials/pie')%>
</section>
<%- include('partials/footer')%>